@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100,200';
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Press+Start+2P&display=swap');

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #c2c2c2 #000000;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: rgba(43, 48, 58, 1);
  }

  *::-webkit-scrollbar-thumb {
    background-color: #c2c2c2;
    border-radius: 10px;
    border: 1px solid #000000;
  }

/* ========== */

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  mix-blend-mode: exclusion;
  z-index: -9999;
  margin: 0;
  outline:none;
  background: radial-gradient(circle, rgba(0,11,38, 0.5) 0%, rgba(0,0,0,1) 34%);
}

html {
  overflow: hidden;
}

body {
  overflow: overlay;
  background-color: black;
  font-family: 'Roboto Mono', monospace !important;
  color: rgb(135, 237, 255);
}

.btn-box {
  width: fit-content;
}

.navbar {
  min-height: 50px;
  transition: 2s ease all !important;
}

.navbar-secondary {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 50%, rgba(39, 53, 69, 0.4) 100%);
  box-shadow: 0px 3px 12px 2px rgba(0,0,0,0.79);
  -webkit-box-shadow: 0px 3px 12px 2px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 3px 12px 2px rgba(0,0,0,0.8);
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  transition: 2s ease all !important;
}

.nav-link {
  display: flex;
  flex-direction: row;
  gap: .2rem;
  color:rgb(0, 159, 187) !important;
  font-weight: bold ;
}

.nav-link:hover {
  color: aqua !important;
}

.navbar-brand > img {
  max-height: 45px;
}

#main-title {
  font-family: 'Press Start 2P';
  font-size: 3.5rem;
  margin: 0;
  font-weight: bolder;
}

#main-logo{
  max-height: 200px;
}

.main-title-span{
  opacity: 0;
  transition: all 1s ease;
  transform: translateY(-20px);
  display: inline-block;
  color: rgb(55, 0, 255);

}

.main-title-span.fade{
  opacity: 1;
  transform: translateY(0px);
  color: rgb(135, 237, 255);
}

#secondary-title {
  font-size: 2rem;
  font-weight: bold;
}

#projects-title, #experience-title, #about-title, #connect-title {
  margin: 20px;
  font-weight: 600;
  color: rgba(255, 203, 130, 1) !important;
}

.experience-item-title{
  font-weight: 600;
}

input[type="text"], input[type="email"], textarea {
  background-color: rgba(200, 200, 200, 1) !important;
  transition: 1s ease all !important;
}

#main-section {
  z-index: 100;
  display: flex;
  flex-direction: column;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(00,80,120, 0.1) 50%, rgba(71,11,11,0) 100%);
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
  overflow-x:hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

#intro-section-anchor {
  padding-bottom: 10rem;
  min-height: 100vh;
}

#experience-section-anchor, #projects-section-anchor, #about-section-anchor, #connect-section-anchor {
  padding: 10rem 0 10rem;
}

#about-section, #experience-section {
  padding: 0 .8rem 0;
}

#connect-section {
  min-height: fit-content;
  padding: 0 1.5rem 1rem;
}

.main {
  width: 100vw;
  height: 100vh;
}


.main-title {
}

.card {
  background: rgb(255,255,255);
  background: linear-gradient(110deg, rgba(255,255,255,0.07) 50%, rgba(255,255,255,0.05) 50.5%);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.1 );
  backdrop-filter: blur( 4.5px );
  -webkit-backdrop-filter: blur( 4.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.1 );  padding: 1rem;
  height: 100%;
}

.card-title{
  font-weight: 600;
}

.card-text {
  border-radius: 15px 15px 15px 15px;
  padding: 3px;
  height: 100%;
}

.card-img-top {
  border-radius: 10px 10px 10px 10px;
}

.experience-item {
  margin-top: 2rem;
}

.education-program {
  margin-top: 2rem;
}

.resume-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding: .5rem .7rem .5rem;
  backdrop-filter: blur(5px);
  transition: 3s ease-out all;
  animation-name: moveBtn;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

@keyframes moveBtn {
  from { transform: translateY(100px);}
  to { transform: translateY(0);}
}

.btn-orange {
  background-color: rgba(255, 153, 0, 0.2);
  font-weight: bold;
  color: rgba(255, 221, 0,  1) !important;
  border-radius: 25px 25px 25px 25px;
  padding:  10px 25px 10px 25px;
}

.btn-orange:hover {
  background-color: rgba(205, 140, 80, 0.2);
  font-weight: bold;
  color: rgba(255, 221, 0,  1) !important;
  border: 1px solid rgba(255, 221, 0, 1);
}

.btn-orange:active {
  background-color: rgba(205, 140, 80, 1);
  font-weight: bold;
}

.btn-blue {
  font-weight: bold;
  background-color: rgba(127, 191, 186, 0.29);
  color: rgb(0, 234, 255);
  border-radius: 25px 25px 25px 25px;
  padding:  10px 25px 10px 25px;
  backdrop-filter: blur( 4.5px );
  -webkit-backdrop-filter: blur( 4.5px );
}

.btn-blue:hover {
  background: rgb(255,255,255);
  background: linear-gradient(110deg, rgba(255,255,255,0.07) 50%, rgba(255,255,255,0.05) 50.5%);
  font-weight: bold;
  border: 1px solid aqua;
  color: aqua;
}

.btn-blue:active {
  background-color: rgb(23, 128, 163, 0.5);
  font-weight: bold;
  color: aqua;
}

.piotr-picture {
  border: 1px solid rgba(255, 203, 130, 0.3);
  border-radius: 50% !important;
  max-height: 250px;
  object-fit: cover;
  margin: 1rem;
  shape-outside: circle(50%);
}

.about-carousel-item-1-title{
  font-weight: 1000;
}


.about-carousel-item{
  padding: 3rem 0rem 3rem;
}

.section-container {
  background: rgb(255,255,255);
  background: linear-gradient(110deg, rgba(255,255,255,0.07) 50%, rgba(255,255,255,0.05) 50.5%);
  border-radius: 16px;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.1 );
  backdrop-filter: blur( 4.5px );
  -webkit-backdrop-filter: blur( 4.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.1 );
  padding: 2rem;
  box-sizing: border-box;
}

#delicious{
  width: 100%;
  border-radius: 25px 25px 25px 25px;
}

.logo{
  max-height: 200px;
  border-radius: 25px 25px 25px 25px;
}

#message {
  height: 8rem;
}

.fixed-button-group {
  position: fixed;
  bottom: 0px;
  left: 0px; 
  margin: 1rem;
  z-index: 999999;
}

.fixed-button {
  height: 3rem;
  background-color: rgba(200, 200, 200, 1);
  border-radius: 15px 15px 15px 10px;
  padding: .1rem;
  transition: 0.5s ease all;
}

.fixed-button:hover {
  box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.86);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.86);
  -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.86);
}


#captcha-info, #captcha-expired, #captcha-error, #captcha-failed{
  color:Red !important;
  display: none;
}

#success-message{
  color: limegreen !important;
  display: none;
}

.invalid-tooltip{
  transition: 1s ease all !important;
}

@media only screen and (max-width: 768px) {
  #main-title {
    font-size: 3rem;
  }

  #secondary-title {
    font-size: 1.5rem;
  }

  .about-container, .experience {
    padding: 1rem;
  }
}


@media only screen and (max-width: 992px) {

}

@media only screen and (max-height: 768px) {
  #main-title {
    font-size: 3rem;
  }

  #secondary-title {
    font-size: 1.5rem;
  }
  
  .about-item-body {
    font-size: 1rem;
  }  
}